

/* ---------- Schedule ------------ */
/* TEMPORARY DISABLED
.schedule th.weekday {
   width=1.5em;
}

.schedule th.weekday em {
   display: block;
   font-style: normal;
}
*/

/* * * * * * * * * * * * * * * * * *
 * added for schedule table design
 * 2007.02.12  -  cad
 * * * * * * * * * * * * * * * * * */
 
 
table.schedule
{
    font-size: 1em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height:1.2em;
    width:95%;
    border-collapse: collapse;
    margin: 6px 0px 14px 0px;
}


table.schedule caption
{
    background-color:inherit;
    font-size:1.5em;
    font-weight: bold;
    color: #4e87a6;
    letter-spacing: 3px;
    padding:  75px 0px 25px 0px;
}

table.schedule thead th
{
    background-color: inherit;
    padding:  7px 7px 7px 7px;
    text-align: center;
    font-size:1.1em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #33393d;
    letter-spacing: 2px;
}
table.schedule tbody th 
{
    font-size:0.9em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #33393d;
    text-align: left;
    padding: 7px 0px 5px 13px;
    background-color: #f5f4ef;
    border-right: 4px solid  #FFFFFF;
    border-bottom: 1px solid #e9e8e3; 
}

table.schedule thead th { 
    border-bottom: 2px solid  #adadad;
    
}

table.schedule thead th:first-child { 
    border-bottom:none;
    background-color: #f5f4ef;
    border-right: 4px solid  #FFFFFF;
}

table.schedule tbody td
{
    font-size:1em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-align:left;
    padding: 7px 5px 5px 7px;
    line-height:1.5em;
}

/**** NO TRACKS ****/
table.schedule tbody td.notrack1 {
    font-weight: normal;
    text-align: center;
    background-color: #fffeb2;  
    border: 2px solid #ffffff;
} 


table.schedule tbody td.notrack1 a
{
    text-decoration: none;
    color: #000000;
}

table.schedule tbody td.notrack2 {
    font-weight: normal;
    text-align: center;
    background-color: #ffcccc;  
    border: 2px solid #ffffff;
} 


table.schedule tbody td.notrack2 a
{
    text-decoration: none;
    color: #000000;
}




/**** BREAK ****/
table.schedule tbody td.break {
    font-weight: bold;
    text-align: center;
    border: 2px solid #ffffff;  
} 

/*** DISABLED
table.schedule tbody td.break:hover {
    background-color: #f5f4ef;  
} 
*/

/**** USER COLORS ****/

table.schedule tbody td.u1 {
    border-right: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    color: #000000;
    text-decoration: none;
    background-color: #dae5ed;
} 


table.schedule tbody td.u1 a
{
    text-decoration: none;
    color: #000000;
}

/*** DISABLED ***
table.schedule tbody td.u1:hover {
    background-color: #c2d4e2;
} */


table.schedule tbody td.u2 {
    background-color: #daeddc;
    border-right: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
} 

table.schedule tbody td.u2 a
{
    text-decoration: none;
    color: #000000;
}

/*** DISABLED ***
table.schedule tbody td.u2:hover {
    background-color: #c2e2c4;
    border-right: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
} */




/**** DEV COLORS ****/
table.schedule tbody td.d1 {
    background-color: #ededda;
    border-top: 2px solid #ffffff;
    
} 

table.schedule tbody td.d1 a
{
    text-decoration: none;
    color: #000000;

}

/*** DISABLED ***
table.schedule tbody td.d1:hover {
    background-color: #e2e1c2;
} */



table.schedule tbody td.d2 {
    background-color: #eddada;
    border-top: 2px solid #ffffff;
}

table.schedule tbody td.d2 a
{
    text-decoration: none;
    color: #000000;

}

/*** DISABLED ***
table.schedule tbody td.d2:hover {
    background-color: #e2c2c2;
}  */

/* DISABLED ***
table.schedule tbody th:hover {

    background-color: #fff;
}
*/
table.schedule tbody td.error {
    background-color: #ff0000;
}

table.schedule tbody td.error:hover {
    background-color: #ff0000;
}



.name
{
    font-family: Palatino Linotype, Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}

.name a
{
    text-decoration: none;
}

.name:hover
{
    text-decoration: underline;
}
